body {
    width: 800px;
    margin: 2em auto 4em auto;
    font-family: 'Vollkorn', Georgia, Times, serif;
}

header {
    margin: 0 0 4em 0;
}

header h1 {
    font-size: 3em;
    line-height: 65px;
    letter-spacing: -1px;
    margin-bottom: 0;
}

header .subtext {
    color: #888;
    margin-top: 0;
    font-size: 1.4em;
}

h1, h2, h3, header .subtext {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

h2 {
    padding-bottom: 6px;
    border-bottom: 1px solid #bbb;
    font-size: 2em;
}

h3 {
    color: #333;
    margin-top: 2.4em;
}

header a:hover {
    color: black;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #bbb;

    -o-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

a:hover {
    color: #888;
    border-bottom: 1px solid #ddd;
}

.posts {
    margin-bottom: 4em;
}

.posts ul, .links ul {
    list-style: none;
}

.posts ul li, .links ul li {
    margin: 1em 0 0 0;
}

.date {
    margin-left: 1em;
    color: #aaa;
}

p {
    font-size: 16px;
    line-height: 25px;
}

code {
    background-color: #eee;
    border-radius: 3px;
}

pre {
    background-color: #eee;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
