---
layout: default
---
<section class="posts">
    <h3>Posts</h3>
    <ul>
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a><br/>
            <div class="date">{{ post.date | relative_date }}</div>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="links">
    <h3>Links</h3>
    <ul>
        {% json_to_array links.json, links %}
        {% for link in links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</section>