<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8" />
    <title> {% if page.title %} {{ page.title }} | {% endif %} Alec Geatches</title>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pygments.css" />
    <script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-37169199-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();</script>

</head>
<body>
    <div id="main">
        <header>
            <a href="/" alt="Home Page">
                <h1>Alec Geatches</h1>
                <div class="subtext">software development and other things</div>
            </a>
        </header>
        {{ content }}
    </div>
</body>
</html>